<!DOCTYPE html>
@{
    ViewData["Title"] = "Home";
}

<html>
    <head>
        <script src="~/res/js/main.js" type="module"></script>
    </head>
    <body>
        <h1>Home</h1>
    </body>
</html>

