<!DOCTYPE html>
@{
    ViewData["Title"] = "Home";
}

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Oswald&amp;subset=latin-ext" rel="stylesheet" />
    <link href="~/res/css/app.css" rel="stylesheet" />
    <script src="~/res/js/bundle.js" type="module"></script>
</head>
    <body>
        <div id="app"></div>
    </body>
</html>

