@{
    ViewData["Title"] = "Home";
}

@section Head {
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oswald&amp;subset=latin-ext" rel="stylesheet" />
    <link href="~/res/css/app.css" rel="stylesheet" />
    <script src="~/res/js/bundle.js" type="module"></script>
}

<div id="app"></div>

